@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.elevated-space-cadet {
	background: radial-gradient(circle at 1.5rem 1rem, #ffffff40, #ffffff00 50%),
		#23293b;

	@apply shadow;
}

.elevated-indigo-dye {
	background: radial-gradient(circle at 1.5rem 1rem, #ffffff40, #ffffff00 50%),
		#044b7f;

	@apply shadow;
}

.elevated-teal {
	background: radial-gradient(circle at 1.5rem 1rem, #ffffff40, #ffffff00 50%),
		#107e7d;

	@apply shadow;
}
